In [1]:
import pandas as pd
df= pd.read_csv("cdp_label_500K.csv")
unactivate_df=df[(df['TRANG_THAI']=="Chuakichhoat")]

In [2]:
df=df[~df['TRANG_THAI'].isin(unactivate_df['TRANG_THAI'])]

In [3]:
df=df.drop(columns=['min_tuoi','idnumber','co_goi','khong_tuong_tac','accalo','is_onsong','BTS_NAME'])

In [4]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 497282 entries, 0 to 499999
Data columns (total 140 columns):
 #    Column                      Non-Null Count   Dtype
---   ------                      --------------   -----
 0    ACCS_MTHD_KEY               497282 non-null  object
 1    ACTVTN_DT                   497282 non-null  float64
 2    ACC                         492793 non-null  float64
 3    SIM_TYPE                    497282 non-null  object
 4    TRANG_THAI                  497282 non-null  object
 5    PROVINCE_CODE               480240 non-null  object
 6    PBH                         480240 non-null  object
 7    GEO_CITY_NAME               489771 non-null  object
 8    GEO_CNTY_NAME               454721 non-null  object
 9    PTC                         497282 non-null  int64
 10   CD_2G                       497282 non-null  int64
 11   HVC_T                       497282 non-null  int64
 12   HVC_T_1                     497282 non-null  int64
 13   HVC_T_2                     497282 non-null  int64
 14   SERVICE_CODE                47974 non-null   object
 15   P1_SONGAY                   47974 non-null   float64
 16   NAP_THE_T                   497282 non-null  int64
 17   TKC_T                       497282 non-null  float64
 18   TKKM_T                      497282 non-null  float64
 19   TKC_THOAI_T                 497282 non-null  float64
 20   TKKM_THOAI_T                497282 non-null  float64
 21   TKC_THOAI_ONNET_T           497282 non-null  float64
 22   TKC_THOAI_OFFNET_T          497282 non-null  float64
 23   TKC_SMS_T                   497282 non-null  float64
 24   TKKM_SMS_T                  497282 non-null  float64
 25   TKC_SMS_ONNET_T             497282 non-null  float64
 26   TKC_SMS_OFFNET_T            497282 non-null  float64
 27   TKC_DATA_T                  497282 non-null  float64
 28   TKKM_DATA_T                 497282 non-null  float64
 29   TKC_KHAC_T                  497282 non-null  float64
 30   TKC_VAS_T                   497282 non-null  float64
 31   LL_THOAI_T                  497282 non-null  int64
 32   LL_ONNET_IC_T               497282 non-null  int64
 33   LL_ONNET_OG_T               497282 non-null  int64
 34   LL_OFFNET_IC_T              497282 non-null  int64
 35   LL_OFFNET_OG_T              497282 non-null  int64
 36   LL_SMS_T                    497282 non-null  int64
 37   LL_SMS_ONNET_T              497282 non-null  int64
 38   LL_SMS_OFFNET_T             497282 non-null  int64
 39   LL_DATA_T                   497282 non-null  float64
 40   TKC_MYTV_T                  497282 non-null  float64
 41   NAP_THE_T_1                 497282 non-null  int64
 42   TKC_T_1                     497282 non-null  float64
 43   TKKM_T_1                    497282 non-null  float64
 44   TKC_THOAI_T_1               497282 non-null  float64
 45   TKKM_THOAI_T_1              497282 non-null  float64
 46   TKC_THOAI_ONNET_T_1         497282 non-null  float64
 47   TKC_THOAI_OFFNET_T_1        497282 non-null  float64
 48   TKC_SMS_T_1                 497282 non-null  float64
 49   TKKM_SMS_T_1                497282 non-null  float64
 50   TKC_SMS_ONNET_T_1           497282 non-null  float64
 51   TKC_SMS_OFFNET_T_1          497282 non-null  float64
 52   TKC_DATA_T_1                497282 non-null  float64
 53   TKKM_DATA_T_1               497282 non-null  float64
 54   TKC_KHAC_T_1                497282 non-null  float64
 55   TKC_VAS_T_1                 497282 non-null  float64
 56   LL_THOAI_T_1                497282 non-null  int64
 57   LL_ONNET_IC_T_1             497282 non-null  int64
 58   LL_ONNET_OG_T_1             497282 non-null  int64
 59   LL_OFFNET_IC_T_1            497282 non-null  int64
 60   LL_OFFNET_OG_T_1            497282 non-null  int64
 61   LL_SMS_T_1                  497282 non-null  int64
 62   LL_SMS_ONNET_T_1            497282 non-null  int64
 63   LL_SMS_OFFNET_T_1           497282 non-null  int64
 64   LL_DATA_T_1                 497282 non-null  float64
 65   TKC_MYTV_T_1                497282 non-null  float64
 66   NAP_THE_T_2                 497282 non-null  int64
 67   TKC_T_2                     497282 non-null  float64
 68   TKKM_T_2                    497282 non-null  float64
 69   TKC_THOAI_T_2               497282 non-null  float64
 70   TKKM_THOAI_T_2              497282 non-null  float64
 71   TKC_THOAI_ONNET_T_2         497282 non-null  float64
 72   TKC_THOAI_OFFNET_T_2        497282 non-null  float64
 73   TKC_SMS_T_2                 497282 non-null  float64
 74   TKKM_SMS_T_2                497282 non-null  float64
 75   TKC_SMS_ONNET_T_2           497282 non-null  float64
 76   TKC_SMS_OFFNET_T_2          497282 non-null  float64
 77   TKC_DATA_T_2                497282 non-null  float64
 78   TKKM_DATA_T_2               497282 non-null  float64
 79   TKC_KHAC_T_2                497282 non-null  float64
 80   TKC_VAS_T_2                 497282 non-null  float64
 81   LL_THOAI_T_2                497282 non-null  int64
 82   LL_ONNET_IC_T_2             497282 non-null  int64
 83   LL_ONNET_OG_T_2             497282 non-null  int64
 84   LL_OFFNET_IC_T_2            497282 non-null  int64
 85   LL_OFFNET_OG_T_2            497282 non-null  int64
 86   LL_SMS_T_2                  497282 non-null  int64
 87   LL_SMS_ONNET_T_2            497282 non-null  int64
 88   LL_SMS_OFFNET_T_2           497282 non-null  int64
 89   LL_DATA_T_2                 497282 non-null  float64
 90   TKC_MYTV_T_2                497282 non-null  float64
 91   is_fiber                    38480 non-null   float64
 92   device_type                 481593 non-null  object
 93   device_spam                 481593 non-null  float64
 94   simslot                     471178 non-null  object
 95   num_of_id                   483572 non-null  float64
 96   id_home                     10532 non-null   float64
 97   role_home                   10532 non-null   float64
 98   package_homecombo           10532 non-null   object
 99   is_tieudung_km              82439 non-null   float64
 100  is_sim_bundle               52991 non-null   float64
 101  package_km                  4778 non-null    float64
 102  package_km_t_1              6146 non-null    float64
 103  tapuutien                   497282 non-null  int64
 104  uutientap4                  13663 non-null   object
 105  TOT_RVN_PACKAGE             78793 non-null   float64
 106  SERVICE_CODE_MUAGOI         78793 non-null   object
 107  APP_NAME                    78793 non-null   object
 108  P2_CHUKY                    9336 non-null    float64
 109  sum_voice_t8                497282 non-null  int64
 110  voice_den_nm_t8             497282 non-null  int64
 111  voice_di_nm_t8              497282 non-null  int64
 112  voice_den_ngoaimang_t8      497282 non-null  int64
 113  voice_di_ngoaimang_t8       497282 non-null  int64
 114  voice_nm_t8                 497282 non-null  int64
 115  voice_ngoai_mang_t8         497282 non-null  int64
 116  amount_nap_the_t8           497282 non-null  int64
 117  sum_voice_t7                483711 non-null  float64
 118  voice_den_nm_t7             483711 non-null  float64
 119  voice_di_nm_t7              483711 non-null  float64
 120  voice_den_ngoaimang_t7      483711 non-null  float64
 121  voice_di_ngoaimang_t7       483711 non-null  float64
 122  voice_nm_t7                 483711 non-null  float64
 123  voice_ngoai_mang_t7         483711 non-null  float64
 124  amount_nap_the_t7           483711 non-null  float64
 125  sum_voice_t6                476351 non-null  float64
 126  voice_den_nm_t6             476351 non-null  float64
 127  voice_di_nm_t6              476351 non-null  float64
 128  voice_den_ngoaimang_t6      476351 non-null  float64
 129  voice_di_ngoaimang_t6       476351 non-null  float64
 130  voice_nm_t6                 476351 non-null  float64
 131  voice_ngoai_mang_t6         476351 non-null  float64
 132  amount_nap_the_t6           476351 non-null  float64
 133  ngay_sinh                   496893 non-null  object
 134  tuoi                        496967 non-null  float64
 135  gender                      496541 non-null  object
 136  service_fee_expiry_date     497282 non-null  object
 137  super_period_expiry_date    497282 non-null  object
 138  account_disconnection_date  497282 non-null  object
 139  label                       497282 non-null  int64
dtypes: float64(79), int64(42), object(19)
memory usage: 534.9+ MB

In [5]:
columns_to_fill_zero = [ 'amount_nap_the_t6','voice_ngoai_mang_t6','voice_nm_t6','voice_di_ngoaimang_t6','voice_den_ngoaimang_t6','voice_di_nm_t6','voice_den_nm_t6','sum_voice_t6',
                        'amount_nap_the_t7','voice_ngoai_mang_t7','voice_nm_t7','voice_di_ngoaimang_t7','voice_den_ngoaimang_t7','voice_di_nm_t7','voice_den_nm_t7','sum_voice_t7',
                         'is_fiber','is_tieudung_km','package_km','package_km_t_1',
  ]

for col in columns_to_fill_zero:
    df[col].fillna(0, inplace=True)

<ipython-input-5-1172210a9b58>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(0, inplace=True)

In [6]:
# columns_to_div_currency = ['NAP_THE_T','TKC_T','TKKM_T', 'TKC_THOAI_T', 'TKKM_THOAI_T','TKC_THOAI_ONNET_T','TKC_THOAI_OFFNET_T','TKC_SMS_T', 'TKKM_SMS_T','TKC_SMS_ONNET_T','TKC_SMS_OFFNET_T','TKC_DATA_T','TKKM_DATA_T','TKC_KHAC_T','TKC_VAS_T',
#                   'NAP_THE_T_1','TKC_T_1','TKKM_T_1', 'TKC_THOAI_T_1', 'TKKM_THOAI_T_1','TKC_THOAI_ONNET_T_1','TKC_THOAI_OFFNET_T_1','TKC_SMS_T_1', 'TKKM_SMS_T_1','TKC_SMS_ONNET_T_1','TKC_SMS_OFFNET_T_1','TKC_DATA_T_1','TKKM_DATA_T_1','TKC_KHAC_T_1','TKC_VAS_T_1',
#                   'NAP_THE_T_2','TKC_T_2','TKKM_T_2', 'TKC_THOAI_T_2', 'TKKM_THOAI_T_2','TKC_THOAI_ONNET_T_2','TKC_THOAI_OFFNET_T_2','TKC_SMS_T_2', 'TKKM_SMS_T_2','TKC_SMS_ONNET_T_2','TKC_SMS_OFFNET_T_2','TKC_DATA_T_2','TKKM_DATA_T_2','TKC_KHAC_T_2','TKC_VAS_T_2',
# ]

# df[columns_to_div_currency]=df[columns_to_div_currency].div(1000)
columns_to_div_currency = ['NAP_THE_T','TKC_T', 'TKC_THOAI_T', 'TKC_THOAI_ONNET_T','TKC_THOAI_OFFNET_T','TKC_SMS_T', 'TKC_SMS_ONNET_T','TKC_SMS_OFFNET_T','TKC_DATA_T','TKC_KHAC_T','TKC_VAS_T',
                  'NAP_THE_T_1','TKC_T_1', 'TKC_THOAI_T_1','TKC_THOAI_ONNET_T_1','TKC_THOAI_OFFNET_T_1','TKC_SMS_T_1', 'TKC_SMS_ONNET_T_1','TKC_SMS_OFFNET_T_1','TKC_DATA_T_1','TKC_KHAC_T_1','TKC_VAS_T_1',
                  'NAP_THE_T_2','TKC_T_2', 'TKC_THOAI_T_2','TKC_THOAI_ONNET_T_2','TKC_THOAI_OFFNET_T_2','TKC_SMS_T_2', 'TKC_SMS_ONNET_T_2','TKC_SMS_OFFNET_T_2','TKC_DATA_T_2','TKC_KHAC_T_2','TKC_VAS_T_2',
]

df[columns_to_div_currency]=df[columns_to_div_currency].div(1000)

In [7]:
columns_to_div_currency = ['TKC_MYTV_T','TKC_MYTV_T_1','TKC_MYTV_T_2']

df[columns_to_div_currency]=df[columns_to_div_currency].div(1000)

In [8]:
columns_to_div_data = ['LL_DATA_T','LL_DATA_T_1','LL_DATA_T_2']

df[columns_to_div_data]=df[columns_to_div_data].div(1024*1024*1024)

In [9]:
df_test=df[df['tuoi'].isnull()]

In [10]:
df_test.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 315 entries, 429 to 499218
Data columns (total 140 columns):
 #    Column                      Non-Null Count  Dtype
---   ------                      --------------  -----
 0    ACCS_MTHD_KEY               315 non-null    object
 1    ACTVTN_DT                   315 non-null    float64
 2    ACC                         307 non-null    float64
 3    SIM_TYPE                    315 non-null    object
 4    TRANG_THAI                  315 non-null    object
 5    PROVINCE_CODE               240 non-null    object
 6    PBH                         240 non-null    object
 7    GEO_CITY_NAME               239 non-null    object
 8    GEO_CNTY_NAME               221 non-null    object
 9    PTC                         315 non-null    int64
 10   CD_2G                       315 non-null    int64
 11   HVC_T                       315 non-null    int64
 12   HVC_T_1                     315 non-null    int64
 13   HVC_T_2                     315 non-null    int64
 14   SERVICE_CODE                5 non-null      object
 15   P1_SONGAY                   5 non-null      float64
 16   NAP_THE_T                   315 non-null    float64
 17   TKC_T                       315 non-null    float64
 18   TKKM_T                      315 non-null    float64
 19   TKC_THOAI_T                 315 non-null    float64
 20   TKKM_THOAI_T                315 non-null    float64
 21   TKC_THOAI_ONNET_T           315 non-null    float64
 22   TKC_THOAI_OFFNET_T          315 non-null    float64
 23   TKC_SMS_T                   315 non-null    float64
 24   TKKM_SMS_T                  315 non-null    float64
 25   TKC_SMS_ONNET_T             315 non-null    float64
 26   TKC_SMS_OFFNET_T            315 non-null    float64
 27   TKC_DATA_T                  315 non-null    float64
 28   TKKM_DATA_T                 315 non-null    float64
 29   TKC_KHAC_T                  315 non-null    float64
 30   TKC_VAS_T                   315 non-null    float64
 31   LL_THOAI_T                  315 non-null    int64
 32   LL_ONNET_IC_T               315 non-null    int64
 33   LL_ONNET_OG_T               315 non-null    int64
 34   LL_OFFNET_IC_T              315 non-null    int64
 35   LL_OFFNET_OG_T              315 non-null    int64
 36   LL_SMS_T                    315 non-null    int64
 37   LL_SMS_ONNET_T              315 non-null    int64
 38   LL_SMS_OFFNET_T             315 non-null    int64
 39   LL_DATA_T                   315 non-null    float64
 40   TKC_MYTV_T                  315 non-null    float64
 41   NAP_THE_T_1                 315 non-null    float64
 42   TKC_T_1                     315 non-null    float64
 43   TKKM_T_1                    315 non-null    float64
 44   TKC_THOAI_T_1               315 non-null    float64
 45   TKKM_THOAI_T_1              315 non-null    float64
 46   TKC_THOAI_ONNET_T_1         315 non-null    float64
 47   TKC_THOAI_OFFNET_T_1        315 non-null    float64
 48   TKC_SMS_T_1                 315 non-null    float64
 49   TKKM_SMS_T_1                315 non-null    float64
 50   TKC_SMS_ONNET_T_1           315 non-null    float64
 51   TKC_SMS_OFFNET_T_1          315 non-null    float64
 52   TKC_DATA_T_1                315 non-null    float64
 53   TKKM_DATA_T_1               315 non-null    float64
 54   TKC_KHAC_T_1                315 non-null    float64
 55   TKC_VAS_T_1                 315 non-null    float64
 56   LL_THOAI_T_1                315 non-null    int64
 57   LL_ONNET_IC_T_1             315 non-null    int64
 58   LL_ONNET_OG_T_1             315 non-null    int64
 59   LL_OFFNET_IC_T_1            315 non-null    int64
 60   LL_OFFNET_OG_T_1            315 non-null    int64
 61   LL_SMS_T_1                  315 non-null    int64
 62   LL_SMS_ONNET_T_1            315 non-null    int64
 63   LL_SMS_OFFNET_T_1           315 non-null    int64
 64   LL_DATA_T_1                 315 non-null    float64
 65   TKC_MYTV_T_1                315 non-null    float64
 66   NAP_THE_T_2                 315 non-null    float64
 67   TKC_T_2                     315 non-null    float64
 68   TKKM_T_2                    315 non-null    float64
 69   TKC_THOAI_T_2               315 non-null    float64
 70   TKKM_THOAI_T_2              315 non-null    float64
 71   TKC_THOAI_ONNET_T_2         315 non-null    float64
 72   TKC_THOAI_OFFNET_T_2        315 non-null    float64
 73   TKC_SMS_T_2                 315 non-null    float64
 74   TKKM_SMS_T_2                315 non-null    float64
 75   TKC_SMS_ONNET_T_2           315 non-null    float64
 76   TKC_SMS_OFFNET_T_2          315 non-null    float64
 77   TKC_DATA_T_2                315 non-null    float64
 78   TKKM_DATA_T_2               315 non-null    float64
 79   TKC_KHAC_T_2                315 non-null    float64
 80   TKC_VAS_T_2                 315 non-null    float64
 81   LL_THOAI_T_2                315 non-null    int64
 82   LL_ONNET_IC_T_2             315 non-null    int64
 83   LL_ONNET_OG_T_2             315 non-null    int64
 84   LL_OFFNET_IC_T_2            315 non-null    int64
 85   LL_OFFNET_OG_T_2            315 non-null    int64
 86   LL_SMS_T_2                  315 non-null    int64
 87   LL_SMS_ONNET_T_2            315 non-null    int64
 88   LL_SMS_OFFNET_T_2           315 non-null    int64
 89   LL_DATA_T_2                 315 non-null    float64
 90   TKC_MYTV_T_2                315 non-null    float64
 91   is_fiber                    315 non-null    float64
 92   device_type                 88 non-null     object
 93   device_spam                 88 non-null     float64
 94   simslot                     84 non-null     object
 95   num_of_id                   1 non-null      float64
 96   id_home                     2 non-null      float64
 97   role_home                   2 non-null      float64
 98   package_homecombo           2 non-null      object
 99   is_tieudung_km              315 non-null    float64
 100  is_sim_bundle               28 non-null     float64
 101  package_km                  315 non-null    float64
 102  package_km_t_1              315 non-null    float64
 103  tapuutien                   315 non-null    int64
 104  uutientap4                  11 non-null     object
 105  TOT_RVN_PACKAGE             12 non-null     float64
 106  SERVICE_CODE_MUAGOI         12 non-null     object
 107  APP_NAME                    12 non-null     object
 108  P2_CHUKY                    1 non-null      float64
 109  sum_voice_t8                315 non-null    int64
 110  voice_den_nm_t8             315 non-null    int64
 111  voice_di_nm_t8              315 non-null    int64
 112  voice_den_ngoaimang_t8      315 non-null    int64
 113  voice_di_ngoaimang_t8       315 non-null    int64
 114  voice_nm_t8                 315 non-null    int64
 115  voice_ngoai_mang_t8         315 non-null    int64
 116  amount_nap_the_t8           315 non-null    int64
 117  sum_voice_t7                315 non-null    float64
 118  voice_den_nm_t7             315 non-null    float64
 119  voice_di_nm_t7              315 non-null    float64
 120  voice_den_ngoaimang_t7      315 non-null    float64
 121  voice_di_ngoaimang_t7       315 non-null    float64
 122  voice_nm_t7                 315 non-null    float64
 123  voice_ngoai_mang_t7         315 non-null    float64
 124  amount_nap_the_t7           315 non-null    float64
 125  sum_voice_t6                315 non-null    float64
 126  voice_den_nm_t6             315 non-null    float64
 127  voice_di_nm_t6              315 non-null    float64
 128  voice_den_ngoaimang_t6      315 non-null    float64
 129  voice_di_ngoaimang_t6       315 non-null    float64
 130  voice_nm_t6                 315 non-null    float64
 131  voice_ngoai_mang_t6         315 non-null    float64
 132  amount_nap_the_t6           315 non-null    float64
 133  ngay_sinh                   1 non-null      object
 134  tuoi                        0 non-null      float64
 135  gender                      1 non-null      object
 136  service_fee_expiry_date     315 non-null    object
 137  super_period_expiry_date    315 non-null    object
 138  account_disconnection_date  315 non-null    object
 139  label                       315 non-null    int64
dtypes: float64(82), int64(39), object(19)
memory usage: 347.0+ KB

In [ ]:
gender_mapping = {
    'male': 'male',
    'Male': 'male',
    'nam': 'male',
    'Nam': 'male',
    'NAM / M': 'male',

    'female': 'female',
    'Female': 'female',
    'Nữ': 'female',
    'nữ': 'female',
    'nu': 'female',
    'NỮ / F': 'female',
    'Nu': 'female',

    '-': 'notKnown',
}

df['gender'] = df['gender'].replace(gender_mapping)

In [12]:
df[['tuoi', 'gender']] = df[['tuoi', 'gender']].fillna("notKnown")

In [13]:
df=df.drop(columns=['ngay_sinh','uutientap4','PTC'])

In [14]:
df=df.drop(columns=['num_of_id'])

In [15]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 497282 entries, 0 to 499999
Data columns (total 136 columns):
 #    Column                      Non-Null Count   Dtype
---   ------                      --------------   -----
 0    ACCS_MTHD_KEY               497282 non-null  object
 1    ACTVTN_DT                   497282 non-null  float64
 2    ACC                         492793 non-null  float64
 3    SIM_TYPE                    497282 non-null  object
 4    TRANG_THAI                  497282 non-null  object
 5    PROVINCE_CODE               480240 non-null  object
 6    PBH                         480240 non-null  object
 7    GEO_CITY_NAME               489771 non-null  object
 8    GEO_CNTY_NAME               454721 non-null  object
 9    CD_2G                       497282 non-null  int64
 10   HVC_T                       497282 non-null  int64
 11   HVC_T_1                     497282 non-null  int64
 12   HVC_T_2                     497282 non-null  int64
 13   SERVICE_CODE                47974 non-null   object
 14   P1_SONGAY                   47974 non-null   float64
 15   NAP_THE_T                   497282 non-null  float64
 16   TKC_T                       497282 non-null  float64
 17   TKKM_T                      497282 non-null  float64
 18   TKC_THOAI_T                 497282 non-null  float64
 19   TKKM_THOAI_T                497282 non-null  float64
 20   TKC_THOAI_ONNET_T           497282 non-null  float64
 21   TKC_THOAI_OFFNET_T          497282 non-null  float64
 22   TKC_SMS_T                   497282 non-null  float64
 23   TKKM_SMS_T                  497282 non-null  float64
 24   TKC_SMS_ONNET_T             497282 non-null  float64
 25   TKC_SMS_OFFNET_T            497282 non-null  float64
 26   TKC_DATA_T                  497282 non-null  float64
 27   TKKM_DATA_T                 497282 non-null  float64
 28   TKC_KHAC_T                  497282 non-null  float64
 29   TKC_VAS_T                   497282 non-null  float64
 30   LL_THOAI_T                  497282 non-null  int64
 31   LL_ONNET_IC_T               497282 non-null  int64
 32   LL_ONNET_OG_T               497282 non-null  int64
 33   LL_OFFNET_IC_T              497282 non-null  int64
 34   LL_OFFNET_OG_T              497282 non-null  int64
 35   LL_SMS_T                    497282 non-null  int64
 36   LL_SMS_ONNET_T              497282 non-null  int64
 37   LL_SMS_OFFNET_T             497282 non-null  int64
 38   LL_DATA_T                   497282 non-null  float64
 39   TKC_MYTV_T                  497282 non-null  float64
 40   NAP_THE_T_1                 497282 non-null  float64
 41   TKC_T_1                     497282 non-null  float64
 42   TKKM_T_1                    497282 non-null  float64
 43   TKC_THOAI_T_1               497282 non-null  float64
 44   TKKM_THOAI_T_1              497282 non-null  float64
 45   TKC_THOAI_ONNET_T_1         497282 non-null  float64
 46   TKC_THOAI_OFFNET_T_1        497282 non-null  float64
 47   TKC_SMS_T_1                 497282 non-null  float64
 48   TKKM_SMS_T_1                497282 non-null  float64
 49   TKC_SMS_ONNET_T_1           497282 non-null  float64
 50   TKC_SMS_OFFNET_T_1          497282 non-null  float64
 51   TKC_DATA_T_1                497282 non-null  float64
 52   TKKM_DATA_T_1               497282 non-null  float64
 53   TKC_KHAC_T_1                497282 non-null  float64
 54   TKC_VAS_T_1                 497282 non-null  float64
 55   LL_THOAI_T_1                497282 non-null  int64
 56   LL_ONNET_IC_T_1             497282 non-null  int64
 57   LL_ONNET_OG_T_1             497282 non-null  int64
 58   LL_OFFNET_IC_T_1            497282 non-null  int64
 59   LL_OFFNET_OG_T_1            497282 non-null  int64
 60   LL_SMS_T_1                  497282 non-null  int64
 61   LL_SMS_ONNET_T_1            497282 non-null  int64
 62   LL_SMS_OFFNET_T_1           497282 non-null  int64
 63   LL_DATA_T_1                 497282 non-null  float64
 64   TKC_MYTV_T_1                497282 non-null  float64
 65   NAP_THE_T_2                 497282 non-null  float64
 66   TKC_T_2                     497282 non-null  float64
 67   TKKM_T_2                    497282 non-null  float64
 68   TKC_THOAI_T_2               497282 non-null  float64
 69   TKKM_THOAI_T_2              497282 non-null  float64
 70   TKC_THOAI_ONNET_T_2         497282 non-null  float64
 71   TKC_THOAI_OFFNET_T_2        497282 non-null  float64
 72   TKC_SMS_T_2                 497282 non-null  float64
 73   TKKM_SMS_T_2                497282 non-null  float64
 74   TKC_SMS_ONNET_T_2           497282 non-null  float64
 75   TKC_SMS_OFFNET_T_2          497282 non-null  float64
 76   TKC_DATA_T_2                497282 non-null  float64
 77   TKKM_DATA_T_2               497282 non-null  float64
 78   TKC_KHAC_T_2                497282 non-null  float64
 79   TKC_VAS_T_2                 497282 non-null  float64
 80   LL_THOAI_T_2                497282 non-null  int64
 81   LL_ONNET_IC_T_2             497282 non-null  int64
 82   LL_ONNET_OG_T_2             497282 non-null  int64
 83   LL_OFFNET_IC_T_2            497282 non-null  int64
 84   LL_OFFNET_OG_T_2            497282 non-null  int64
 85   LL_SMS_T_2                  497282 non-null  int64
 86   LL_SMS_ONNET_T_2            497282 non-null  int64
 87   LL_SMS_OFFNET_T_2           497282 non-null  int64
 88   LL_DATA_T_2                 497282 non-null  float64
 89   TKC_MYTV_T_2                497282 non-null  float64
 90   is_fiber                    497282 non-null  float64
 91   device_type                 481593 non-null  object
 92   device_spam                 481593 non-null  float64
 93   simslot                     471178 non-null  object
 94   id_home                     10532 non-null   float64
 95   role_home                   10532 non-null   float64
 96   package_homecombo           10532 non-null   object
 97   is_tieudung_km              497282 non-null  float64
 98   is_sim_bundle               52991 non-null   float64
 99   package_km                  497282 non-null  float64
 100  package_km_t_1              497282 non-null  float64
 101  tapuutien                   497282 non-null  int64
 102  TOT_RVN_PACKAGE             78793 non-null   float64
 103  SERVICE_CODE_MUAGOI         78793 non-null   object
 104  APP_NAME                    78793 non-null   object
 105  P2_CHUKY                    9336 non-null    float64
 106  sum_voice_t8                497282 non-null  int64
 107  voice_den_nm_t8             497282 non-null  int64
 108  voice_di_nm_t8              497282 non-null  int64
 109  voice_den_ngoaimang_t8      497282 non-null  int64
 110  voice_di_ngoaimang_t8       497282 non-null  int64
 111  voice_nm_t8                 497282 non-null  int64
 112  voice_ngoai_mang_t8         497282 non-null  int64
 113  amount_nap_the_t8           497282 non-null  int64
 114  sum_voice_t7                497282 non-null  float64
 115  voice_den_nm_t7             497282 non-null  float64
 116  voice_di_nm_t7              497282 non-null  float64
 117  voice_den_ngoaimang_t7      497282 non-null  float64
 118  voice_di_ngoaimang_t7       497282 non-null  float64
 119  voice_nm_t7                 497282 non-null  float64
 120  voice_ngoai_mang_t7         497282 non-null  float64
 121  amount_nap_the_t7           497282 non-null  float64
 122  sum_voice_t6                497282 non-null  float64
 123  voice_den_nm_t6             497282 non-null  float64
 124  voice_di_nm_t6              497282 non-null  float64
 125  voice_den_ngoaimang_t6      497282 non-null  float64
 126  voice_di_ngoaimang_t6       497282 non-null  float64
 127  voice_nm_t6                 497282 non-null  float64
 128  voice_ngoai_mang_t6         497282 non-null  float64
 129  amount_nap_the_t6           497282 non-null  float64
 130  tuoi                        497282 non-null  object
 131  gender                      497282 non-null  object
 132  service_fee_expiry_date     497282 non-null  object
 133  super_period_expiry_date    497282 non-null  object
 134  account_disconnection_date  497282 non-null  object
 135  label                       497282 non-null  int64
dtypes: float64(80), int64(38), object(18)
memory usage: 519.8+ MB

In [16]:
value_counts = df['device_type'].value_counts()
print("Counts for each distinct value in APP_NAME:\n", value_counts)

Counts for each distinct value in APP_NAME:
 device_type
Smartphone                    382160
Mobile Phone/Feature phone     56830
IOT                            32188
Khong xac dinh                 10415
Name: count, dtype: int64

In [17]:
df['simslot'] = df['simslot'].fillna("Not Known")

In [18]:
df['device_type'] = df['device_type'].fillna("Not included")
df['device_spam'] = df['device_spam'].fillna("Not included")

In [19]:
value_counts = df['role_home'].value_counts()
print("Counts for each distinct value :\n", value_counts)

Counts for each distinct value :
 role_home
0.0    5683
1.0    4849
Name: count, dtype: int64

In [20]:
# Fill NaN values with 3 in 'role_home'
df['role_home'] = df['role_home'].fillna(3)

df['id_home'] = df['role_home'].fillna(0)

In [21]:
value_counts = df['voice_den_nm_t6'].value_counts()
print("Counts for each distinct value in APP_NAME:\n", value_counts)

Counts for each distinct value in APP_NAME:
 voice_den_nm_t6
0.0       163926
1.0        52891
2.0        33833
3.0        25319
4.0        20116
           ...
783.0          1
572.0          1
521.0          1
695.0          1
2958.0         1
Name: count, Length: 612, dtype: int64

In [22]:

value_counts = df['SERVICE_CODE'].value_counts()
print("Counts for each distinct value in APP_NAME:\n", value_counts)

Counts for each distinct value in APP_NAME:
 SERVICE_CODE
MI_D7             14241
MI_D2             10764
SPOTV10            4809
KM_D3              4389
KM_DT30            3919
MI_D6V             2885
VD2                1932
MI_D15             1161
MI_D5K             1103
MI_D5               748
MI_D3K              564
VOCUC               242
VD30T               189
MI_DT5              181
VD50                147
MI_H5               131
TSAL                108
VMAX                 84
TN20                 81
VC5                  62
KM_DT20              52
MI_DT1               37
TD_TD3               23
VD100                17
MI_VD1G              14
V20                  14
MI_BIG70_DAILY       13
MI_X1                12
MI_DT3               11
IR_RA                10
V10                   8
V10MP                 7
MI_H10                4
IR_RU110              3
ZL_ZL1                2
C50                   2
ZL_ZL7                1
IR_RU10               1
IR_RU250              1
IR_RU3                1
C15                   1
Name: count, dtype: int64

In [23]:

value_counts = df['SERVICE_CODE_MUAGOI'].value_counts()
print("Counts for each distinct value in APP_NAME:\n", value_counts)

Counts for each distinct value in APP_NAME:
 SERVICE_CODE_MUAGOI
MI_D7                                                                            4517
MI_D2                                                                            4124
MI_D7,MI_D7                                                                      3052
12TD49                                                                           2836
MI_D2,MI_D2                                                                      2259
                                                                                 ...
SPOTV10,KM_DT30,SPOTV10,SPOTV10,SPOTV10,SPOTV10,SPOTV10,SPOTV10,KM_DT30             1
SPOTV10,SPOTV10,MI_D5K,SPOTV10,MI_D5K,MI_D6V,SPOTV10,MI_D6V,SPOTV10,MI_D6V          1
MI_D5,MI_D3K,MI_D3K,MI_D3K                                                          1
MI_D7,MI_D2,MI_D7,MI_D2,MI_D2,MI_D2,MI_D2,MI_D7,MI_D7,MI_D7,MI_D2,MI_D2,MI_D2       1
MI_D2,MI_D2,KM_DT30,KM_DT30,KM_DT30                                                 1
Name: count, Length: 7388, dtype: int64

In [24]:
df['P2_CHUKY'] = df.apply(
    lambda row: 0.1 if pd.isnull(row['P2_CHUKY']) and pd.notnull(row['SERVICE_CODE_MUAGOI'])
                else (0 if pd.isnull(row['P2_CHUKY']) else row['P2_CHUKY']),
    axis=1
)

In [25]:
df[['SERVICE_CODE', 'SERVICE_CODE_MUAGOI']] = df[['SERVICE_CODE', 'SERVICE_CODE_MUAGOI']].fillna("notSub")

In [26]:
df['package_homecombo'] = df['package_homecombo'].fillna("notSub")

In [27]:
df['P1_SONGAY'] = df['P1_SONGAY'].fillna(0)

In [28]:
df['TOT_RVN_PACKAGE'] = df['TOT_RVN_PACKAGE'].fillna(0)

In [29]:
df['is_sim_bundle'] = df['is_sim_bundle'].fillna(0)

In [30]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 497282 entries, 0 to 499999
Data columns (total 136 columns):
 #    Column                      Non-Null Count   Dtype
---   ------                      --------------   -----
 0    ACCS_MTHD_KEY               497282 non-null  object
 1    ACTVTN_DT                   497282 non-null  float64
 2    ACC                         492793 non-null  float64
 3    SIM_TYPE                    497282 non-null  object
 4    TRANG_THAI                  497282 non-null  object
 5    PROVINCE_CODE               480240 non-null  object
 6    PBH                         480240 non-null  object
 7    GEO_CITY_NAME               489771 non-null  object
 8    GEO_CNTY_NAME               454721 non-null  object
 9    CD_2G                       497282 non-null  int64
 10   HVC_T                       497282 non-null  int64
 11   HVC_T_1                     497282 non-null  int64
 12   HVC_T_2                     497282 non-null  int64
 13   SERVICE_CODE                497282 non-null  object
 14   P1_SONGAY                   497282 non-null  float64
 15   NAP_THE_T                   497282 non-null  float64
 16   TKC_T                       497282 non-null  float64
 17   TKKM_T                      497282 non-null  float64
 18   TKC_THOAI_T                 497282 non-null  float64
 19   TKKM_THOAI_T                497282 non-null  float64
 20   TKC_THOAI_ONNET_T           497282 non-null  float64
 21   TKC_THOAI_OFFNET_T          497282 non-null  float64
 22   TKC_SMS_T                   497282 non-null  float64
 23   TKKM_SMS_T                  497282 non-null  float64
 24   TKC_SMS_ONNET_T             497282 non-null  float64
 25   TKC_SMS_OFFNET_T            497282 non-null  float64
 26   TKC_DATA_T                  497282 non-null  float64
 27   TKKM_DATA_T                 497282 non-null  float64
 28   TKC_KHAC_T                  497282 non-null  float64
 29   TKC_VAS_T                   497282 non-null  float64
 30   LL_THOAI_T                  497282 non-null  int64
 31   LL_ONNET_IC_T               497282 non-null  int64
 32   LL_ONNET_OG_T               497282 non-null  int64
 33   LL_OFFNET_IC_T              497282 non-null  int64
 34   LL_OFFNET_OG_T              497282 non-null  int64
 35   LL_SMS_T                    497282 non-null  int64
 36   LL_SMS_ONNET_T              497282 non-null  int64
 37   LL_SMS_OFFNET_T             497282 non-null  int64
 38   LL_DATA_T                   497282 non-null  float64
 39   TKC_MYTV_T                  497282 non-null  float64
 40   NAP_THE_T_1                 497282 non-null  float64
 41   TKC_T_1                     497282 non-null  float64
 42   TKKM_T_1                    497282 non-null  float64
 43   TKC_THOAI_T_1               497282 non-null  float64
 44   TKKM_THOAI_T_1              497282 non-null  float64
 45   TKC_THOAI_ONNET_T_1         497282 non-null  float64
 46   TKC_THOAI_OFFNET_T_1        497282 non-null  float64
 47   TKC_SMS_T_1                 497282 non-null  float64
 48   TKKM_SMS_T_1                497282 non-null  float64
 49   TKC_SMS_ONNET_T_1           497282 non-null  float64
 50   TKC_SMS_OFFNET_T_1          497282 non-null  float64
 51   TKC_DATA_T_1                497282 non-null  float64
 52   TKKM_DATA_T_1               497282 non-null  float64
 53   TKC_KHAC_T_1                497282 non-null  float64
 54   TKC_VAS_T_1                 497282 non-null  float64
 55   LL_THOAI_T_1                497282 non-null  int64
 56   LL_ONNET_IC_T_1             497282 non-null  int64
 57   LL_ONNET_OG_T_1             497282 non-null  int64
 58   LL_OFFNET_IC_T_1            497282 non-null  int64
 59   LL_OFFNET_OG_T_1            497282 non-null  int64
 60   LL_SMS_T_1                  497282 non-null  int64
 61   LL_SMS_ONNET_T_1            497282 non-null  int64
 62   LL_SMS_OFFNET_T_1           497282 non-null  int64
 63   LL_DATA_T_1                 497282 non-null  float64
 64   TKC_MYTV_T_1                497282 non-null  float64
 65   NAP_THE_T_2                 497282 non-null  float64
 66   TKC_T_2                     497282 non-null  float64
 67   TKKM_T_2                    497282 non-null  float64
 68   TKC_THOAI_T_2               497282 non-null  float64
 69   TKKM_THOAI_T_2              497282 non-null  float64
 70   TKC_THOAI_ONNET_T_2         497282 non-null  float64
 71   TKC_THOAI_OFFNET_T_2        497282 non-null  float64
 72   TKC_SMS_T_2                 497282 non-null  float64
 73   TKKM_SMS_T_2                497282 non-null  float64
 74   TKC_SMS_ONNET_T_2           497282 non-null  float64
 75   TKC_SMS_OFFNET_T_2          497282 non-null  float64
 76   TKC_DATA_T_2                497282 non-null  float64
 77   TKKM_DATA_T_2               497282 non-null  float64
 78   TKC_KHAC_T_2                497282 non-null  float64
 79   TKC_VAS_T_2                 497282 non-null  float64
 80   LL_THOAI_T_2                497282 non-null  int64
 81   LL_ONNET_IC_T_2             497282 non-null  int64
 82   LL_ONNET_OG_T_2             497282 non-null  int64
 83   LL_OFFNET_IC_T_2            497282 non-null  int64
 84   LL_OFFNET_OG_T_2            497282 non-null  int64
 85   LL_SMS_T_2                  497282 non-null  int64
 86   LL_SMS_ONNET_T_2            497282 non-null  int64
 87   LL_SMS_OFFNET_T_2           497282 non-null  int64
 88   LL_DATA_T_2                 497282 non-null  float64
 89   TKC_MYTV_T_2                497282 non-null  float64
 90   is_fiber                    497282 non-null  float64
 91   device_type                 497282 non-null  object
 92   device_spam                 497282 non-null  object
 93   simslot                     497282 non-null  object
 94   id_home                     497282 non-null  float64
 95   role_home                   497282 non-null  float64
 96   package_homecombo           497282 non-null  object
 97   is_tieudung_km              497282 non-null  float64
 98   is_sim_bundle               497282 non-null  float64
 99   package_km                  497282 non-null  float64
 100  package_km_t_1              497282 non-null  float64
 101  tapuutien                   497282 non-null  int64
 102  TOT_RVN_PACKAGE             497282 non-null  float64
 103  SERVICE_CODE_MUAGOI         497282 non-null  object
 104  APP_NAME                    78793 non-null   object
 105  P2_CHUKY                    497282 non-null  float64
 106  sum_voice_t8                497282 non-null  int64
 107  voice_den_nm_t8             497282 non-null  int64
 108  voice_di_nm_t8              497282 non-null  int64
 109  voice_den_ngoaimang_t8      497282 non-null  int64
 110  voice_di_ngoaimang_t8       497282 non-null  int64
 111  voice_nm_t8                 497282 non-null  int64
 112  voice_ngoai_mang_t8         497282 non-null  int64
 113  amount_nap_the_t8           497282 non-null  int64
 114  sum_voice_t7                497282 non-null  float64
 115  voice_den_nm_t7             497282 non-null  float64
 116  voice_di_nm_t7              497282 non-null  float64
 117  voice_den_ngoaimang_t7      497282 non-null  float64
 118  voice_di_ngoaimang_t7       497282 non-null  float64
 119  voice_nm_t7                 497282 non-null  float64
 120  voice_ngoai_mang_t7         497282 non-null  float64
 121  amount_nap_the_t7           497282 non-null  float64
 122  sum_voice_t6                497282 non-null  float64
 123  voice_den_nm_t6             497282 non-null  float64
 124  voice_di_nm_t6              497282 non-null  float64
 125  voice_den_ngoaimang_t6      497282 non-null  float64
 126  voice_di_ngoaimang_t6       497282 non-null  float64
 127  voice_nm_t6                 497282 non-null  float64
 128  voice_ngoai_mang_t6         497282 non-null  float64
 129  amount_nap_the_t6           497282 non-null  float64
 130  tuoi                        497282 non-null  object
 131  gender                      497282 non-null  object
 132  service_fee_expiry_date     497282 non-null  object
 133  super_period_expiry_date    497282 non-null  object
 134  account_disconnection_date  497282 non-null  object
 135  label                       497282 non-null  int64
dtypes: float64(79), int64(38), object(19)
memory usage: 519.8+ MB

In [31]:
df[['PROVINCE_CODE', 'PBH','GEO_CITY_NAME','GEO_CNTY_NAME']] = df[['PROVINCE_CODE', 'PBH','GEO_CITY_NAME','GEO_CNTY_NAME']].fillna("notKnown")

In [32]:

value_counts = df['id_home'].value_counts()
print("Counts for each distinct value in APP_NAME:\n", value_counts)

Counts for each distinct value in APP_NAME:
 id_home
3.0    486750
0.0      5683
1.0      4849
Name: count, dtype: int64

In [33]:
df['APP_NAME'] = df['APP_NAME'].fillna("notKnown")

In [34]:
df.to_csv('EDA_Data.csv')